@import '../../../../../../styes/colors';
.upload {
  padding: 12px;
  border-radius: 4px ;
  background: rgba(0, 0, 0, 0.05);
  margin-top: 12px;
  &_progress{
    width: 100%;
    &::-webkit-progress-value {
      transition: width 0.1s ease;
    }
  }
  &_info{
    display: flex;
    justify-content: space-between;
  }
}
.button{
  diplay: inline-block;
  margin:2px 4px;
}
.app-a{
  margin-right: 0;
}
