<div class="upload">
  {{file.name}}
  <progress class="upload_progress" [value]="(percentage$ | async ) || 0" max="100"></progress>
  <div class="upload_info" *ngIf="snapshot$ | async as snapshot">
    <div>
      {{snapshot.bytesTransferred | fileSize }} of {{snapshot.totalBytes | fileSize }}
    </div>
    <div>
      <div *ngIf="downloadUrl; then completed else inProgress"></div>
      <ng-template #completed>
        <a class="app-a" [href]="downloadUrl" target="_blank" rel="noopener">descargar</a>
      </ng-template>
      <ng-template #inProgress>
        <button (click)="task.pause()" class="button" disabled="!(snapshot.state ==='running')">Pausa</button>
        <button (click)="task.cancel()" class="button" disabled="!(snapshot.state ==='running')">Cancelar</button>
        <button (click)="task.resume()" class="button" disabled="!(snapshot.state ==='paused')">Continuar</button>
      </ng-template>
    </div>
  </div>

</div>
