$base: #fafafa;
$base-dark: #e0e0e0;
$base-light: #fff;
$on-base: #000;


$primaryColor: #0277bd;
$primaryColorDark: #015384;
$primaryColorLight: #58a5f0;
$on-primaryTextColor: #fff;

$secondaryColor: #f44336;
$secondaryColorDark: #ba000d;
$secondaryColorLight: #ff7961;
$on-secondaryTextColor: #fff;

$error:#B00020;
$on-errorColor: #fff;

$success: #4CAF50;
$on-successColor: #fff;
